@font-face {
  font-family: "Koga Sans Modern";
  src: url("/fonts/KogaSansModernVF.woff2") format("woff2");
}

@font-face {
  font-family: "RC Swow Serif";
  src: url("/fonts/RCSwowSerifGX.ttf");
}

@font-face {
  font-family: "Biela";
  src: url("/fonts/Biela-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "koga-sans-book";
  src: url("/fonts/KogaSansText-Book.woff2") format("woff2");
}

@font-face {
  font-family: "koga-sans-medium";
  src: url("/fonts/KogaSansText-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "koga-sans-semiBold";
  src: url("/fonts/KogaSansText-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "koga-sans-bold";
  src: url("/fonts/KogaSansText-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Narukami";
  src: url("/fonts/Narukami-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "roume-text-book";
  src: url('../fonts/Roume-TextBook.woff2');
}

@font-face {
  font-family: "roume-text-book-italic";
  src: url('../fonts/Roume-TextBookItalic.woff2');
}

@font-face {
  font-family: "roume-text-regular";
  src: url('../fonts/Roume-TextRegular.woff2');
}

@font-face {
  font-family: "roume-text-regular-italic";
  src: url('../fonts/Roume-TextRegularItalic.woff2');
}

@font-face {
  font-family: "roume-text-medium";
  src: url('../fonts/Roume-TextMedium.woff2');
}

@font-face {
  font-family: "roume-text-medium-italic";
  src: url('../fonts/Roume-TextMediumItalic.woff2');
}

@font-face {
  font-family: "roume-text-bold";
  src: url('../fonts/Roume-TextBold.woff2');
}

@font-face {
  font-family: "roume-text-bold-italic";
  src: url('../fonts/Roume-TextBoldItalic.woff2');
}

@font-face {
  font-family: "roume-fine-light";
  src: url('../fonts/Roume-FineLight.woff2');
}

@font-face {
  font-family: "roume-fine-light-italic";
  src: url('../fonts/Roume-FineLightItalic.woff2');
}

@font-face {
  font-family: "roume-fine-book";
  src: url('../fonts/Roume-FineBook.woff2');
}

@font-face {
  font-family: "roume-fine-book-italic";
  src: url('../fonts/Roume-FineBookItalic.woff2');
}

@font-face {
  font-family: "roume-fine-regular";
  src: url('../fonts/Roume-FineRegular.woff2');
}

@font-face {
  font-family: "roume-fine-regular-italic";
  src: url('../fonts/Roume-FineRegularItalic.woff2');
}

@font-face {
  font-family: "roume-fine-medium";
  src: url('../fonts/Roume-FineMedium.woff2');
}

@font-face {
  font-family: "roume-fine-medium-italic";
  src: url('../fonts/Roume-FineMediumItalic.woff2');
}

@font-face {
  font-family: "roume-fine-bold";
  src: url('../fonts/Roume-FineBold.woff2');
}

@font-face {
  font-family: "roume-fine-bold-italic";
  src: url('../fonts/Roume-FineBoldItalic.woff2');
}

@font-face {
  font-family: "roume-display-light";
  src: url('../fonts/Roume-DisplayLight.woff2');
}

@font-face {
  font-family: "roume-display-light-italic";
  src: url('../fonts/Roume-DisplayLightItalic.woff2');
}

@font-face {
  font-family: "roume-display-regular";
  src: url('../fonts/Roume-DisplayRegular.woff2');
}

@font-face {
  font-family: "roume-display-regular-italic";
  src: url('../fonts/Roume-DisplayRegularItalic.woff2');
}

@font-face {
  font-family: "roume-display-medium";
  src: url('../fonts/Roume-DisplayMedium.woff2');
}

@font-face {
  font-family: "roume-display-medium-italic";
  src: url('../fonts/Roume-DisplayMediumItalic.woff2');
}

@font-face {
  font-family: "roume-display-bold";
  src: url('../fonts/Roume-DisplayBold.woff2');
}

@font-face {
  font-family: "roume-display-bold-italic";
  src: url('../fonts/Roume-DisplayBoldItalic.woff2');
}
